@import "~taro-ui/dist/style/components/flex.scss";

.image-gallery-1 {
    width: 360rpx;
    height: 360rpx;
}

.image-gallery-2 {
    width: 280rpx;
    height: 280rpx;
}

.image-gallery-3 {
    width: 180rpx;
    height: 180rpx;
}

.image-gallery-4{
    width: 280rpx;
    height: 280rpx;
}
