@import "~taro-ui/dist/style/components/flex.scss";
@import "../../assets/styles/constants.scss";

.user-info {
    box-shadow: 0 8rpx 16rpx 0 rgba(0, 0, 0, 0.2);//设置两层阴影
    border-bottom: 8rpx solid $primary-red;
    width: 90%;
    padding: 36rpx 36rpx;
    margin: 36rpx auto;
}
.nick-name{
    color: $primary-grey;
}