@import "../../assets/styles/constants.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.apply-info {
  box-shadow: 0 8rpx 16rpx 0 rgba(0, 0, 0, 0.2); //设置两层阴影
  width: 90%;
  margin: 36rpx auto;
}
.apply-info-profile {
  padding: 20rpx;
}
.apply-info-message {
  padding: 20rpx;
}
.apply-message-wrapper {
  border-top: 2rpx solid $primary-red;
}
